<form action="/station/{{this.station}}/addMeasuring" method="POST">

    <div class="row">
        <div class="mb-3 col-3">
            <label htmlFor="inputweather" className="form-label">Wetter</label>
            <label for="inputweather"></label><input placeholder="00" type="number" className="form-control" id="inputweather" name="weather">
        </div>
        <div class="mb-3 col-3">
            <label htmlFor="inputtemperature" className="form-label">Temperatur</label>
            <label for="inputtemperature"></label><input placeholder="00" type="number" className="form-control" id="inputtemperature" name="temperature">
        </div>
        <div class="mb-3 col-3">
            <label htmlFor="inputwind" className="form-label">Wind</label>
            <label for="inputwind"></label><input placeholder="00" type="number" className="form-control" id="inputwind" name="wind">
        </div>
        <div class="mb-3 col-3">
            <label htmlFor="inputpressure" className="form-label">Luftdruck</label>
            <label for="inputpressure"></label><input placeholder="00" type="number" className="form-control" id="inputpressure" name="pressure">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Messung hinzufügen</button>
</form>
