<form action="/dashboard/addStation" method="POST">

    <div class="row">
        <div class="mb-3 col-4">
            <label htmlFor="inputweather" className="form-label">Name Wetterstation</label>
            <label for="inputweather"></label><input placeholder="Station" type="text" className="form-control" id="inputStation" name="neueStation">
        </div>
        <div class="mb-3 col-4">
            <label htmlFor="inputBreitengrad" className="form-label">Breitengrad</label>
            <label for="inputBreitengrad"></label><input placeholder="00.00" type="number" className="form-control" id="inputBreitengrad" name="lat">
        </div>
        <div class="mb-3 col-4">
            <label htmlFor="inputLängengrad" className="form-label">Längengrad</label>
            <label for="inputLängengrad"></label><input placeholder="00.00" type="number" className="form-control" id="inputLängengrad" name="lon">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Wetterstation hinzufügen</button>
</form>
